################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.lock

WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/

*.ide-wal
